*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img{
  max-width: 100%;
}

header{
  background: #136c72;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 950px;
  padding: 5em 0;
}

.row {
  display: flex;

  /* default is fle-direction row */
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3rem;
  text-align: center;
}
.col {
  /* flex children */
  width: 100%;
}

.heading-color {
  color: #fff;
}

.hero-container {
  background: #23424a;
  color: white;
}

.heading {
  font-weight: 900;
  font-size: 48px;
}

.hero__text {
  width: 62%;
}
.hero__text h1 {
  margin-top: 0;
}
.text {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 5vh;
}

.btn {
  font-size: 21px;
  font-weight: bold;
  color: #23424a;
  text-transform: uppercase;
  background: #38cfd9;
  padding: 0.75em 1em;
  border-radius: 30px;
  text-decoration: none;
}
.container h2 {
  font-size: 36px;
}
/*  footer code */
.footer {
  background: #136c72;
  color: white;
}

/* code for the flex */
.flex {
  display: flex;
  justify-content: space-between;
}
.hero__img {
  width: 32%;
  align-self: flex-start;
}
.test{
  width: 40%;
  background: #23424a;
  padding: 2rem;
}
.test p{
  color: #fff;
}
.second-section h1{
  color: #136c72;
  font-size: 32px;
}
.second-section{
  width: 50%;
}
.col h2{
  margin: 0;
}

/*  navigation or navbar */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
}
.nav__list{
margin: 0;
list-style: none;
padding: 0;
display: flex; 
}

.nav__list--primary{
  margin: 0 auto;
}
 /*  finally fone0 */
.nav_link{
  
  text-decoration: none;
  text-transform: uppercase;
}
.nav-container{
  max-width: 950px;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}
.nav__item + .nav__item{
  margin-left: 2rem;
}
.nav__link--button{
  background-color: aliceblue;
  padding: 0.25rem 1rem;
  border-radius: 10rem;
  color: #136c72;
}
.nav_link:hover{
  opacity: 0.75;
  cursor: pointer;
}

.logo{
  height: 100px;
  width: 100px;
}